@import "reset";
@import "css3";
@import "base";

$commonFont: STHeiTi, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
$searchH: 36px;
$searchBorderRadius: 15px;

body {
    background-color: #f2f2f2;
    font-family: $commonFont;
    font-size: 15px;
    color: #282828;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 20px;

    & > section {
        margin-top: 20px;
    }
}

.logo {
    //height: 173px;
    float: left;
}

.search-container {
    position: relative;
    overflow: hidden;
    padding-left: 15px;
    img {
        width: 100%;
        display: block;
    }
    & > div {
        position: absolute;
        left: 15px;
        right: 0;
        bottom: 0;
        height: $searchH;
        background-color: #282828;
        padding: 5px 20px;
        @include box-sizing(border-box);
    }
}

.search {
    float: left;
    width: 82%;
    height: 100%;
    position: relative;
    @include box-sizing(border-box);
    //font-size: 15px;
    input {
        display: block;
        @include box-sizing(border-box);
        width: 100%;
        height: 100%;
        padding: 1px 85px 1px 15px;
        border-radius: $searchBorderRadius;
        border: 1px solid #9e9e9e;
    }
    a {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #e5464e;
        color: #fff;
        border: 1px solid #e5464e;
        border-top-right-radius: $searchBorderRadius;
        border-bottom-right-radius: $searchBorderRadius;
        padding: 0 20px;
        line-height: $searchH - 12px;
        @include box-sizing(border-box);
        //&:hover {
        //    background-color: #fff;
        //    color: #e5464e;
        //}
    }
}

.upload-file {
    float: right;
    @include box-sizing(border-box);
    height: 100%;
    width: 15%;
    border: 2px solid #fff;
    border-radius: $searchBorderRadius;
    color: #fff;
    text-align: center;
    line-height: $searchH - 14px;
    //font-size: 14px;
    &:hover {
        background-color: #fff;
        color: #282828;
    }
}

.report-preview {
    width: 750px;
    display: inline-block;
}

.report-thumb-container {
    background-color: #fff;
    & > img {
        width: 104px;
        float: left;
    }
    & > div {
        overflow: hidden;
        padding: 12px 0 0 30px;
        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p.report-thumb-info {
            max-width: 50%;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 10px;
        }
        p.download-count {
            font-size: 13px;
            color: #a8a8a8;
        }
    }
}

.report-ifr-container {
    width: 750px;
    height: 650px;
    overflow: hidden;
    background-color: #fff;
    iframe {
        width: 100%;
    }
}

.report-download-bar {
    height: 45px;
    background-color: #282828;
}

.report-related {
    float: right;
    width: 200px;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
    }
}

.report-related-list {
    li {
        margin-bottom: 10px;
        & > img {
            width: 48px;
            float: left;
        }
        & > div {
            overflow: hidden;
            padding-left: 10px;
            h3 {
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            p {
                font-size: 12px;
                color: #909090;
            }
        }
        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }
}