html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

input {
  outline: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit; }

.logo {
  float: left; }
  .logo > img {
    height: 200px; }

.search-container {
  position: relative;
  overflow: hidden;
  padding-left: 15px;
  height: 200px; }
  .search-container img {
    width: 100%;
    display: block; }
  .search-container > div {
    position: absolute;
    left: 15px;
    right: 0;
    bottom: 0;
    height: 37px;
    background-color: #282828;
    padding: 5px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.search {
  float: left;
  width: 82%;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .search input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1px 85px 1px 15px;
    border-radius: 15px;
    border: 1px solid #9e9e9e; }
  .search a {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #e5464e;
    color: #fff;
    border: 1px solid #e5464e;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 20px;
    line-height: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.upload-file {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 15%;
  border: 2px solid #fff;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  line-height: 23px; }
  .upload-file:hover {
    background-color: #fff;
    color: #282828; }

#doc {
  width: 80%;
  margin: 0 auto;
  max-width: 1080px;
  min-width: 960px; }

.word {
  background-color: #E63F26; }

.ppt {
  background-color: #4999F2; }

.pdf {
  background-color: #EE9414; }

.zip {
  background-color: #3DD6C6; }

body {
  font-family: STHeiTi,"Microsoft Yahei","Helvetica Neue",Helvetica,sans-serif;
  width: 100%;
  box-sizing: border-box;
  background-color: #F2F2F2;
  padding-top: 20px; }
  body section {
    padding-top: 26px;
    margin: 0 auto;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap; }
    body section .report {
      cursor: pointer;
      display: block;
      width: 49.2%;
      height: 98px;
      background-color: #FFFFFF;
      margin-bottom: 6px; }
      body section .report:hover {
        background-color: rgba(188, 193, 191, 0.33); }
      body section .report .icon {
        float: left;
        width: 104px;
        height: 98px; }
        body section .report .icon .report-logo {
          width: 98px;
          height: 98px;
          float: right;
          background-color: #282828; }
          body section .report .icon .report-logo:hover {
            background-color: transparent; }
          body section .report .icon .report-logo img {
            width: 100%;
            height: 100%; }
      body section .report .report-intro {
        display: block !important;
        margin-left: 104px;
        padding: 9px 43px 0 24px; }
        body section .report .report-intro h3 {
          display: block;
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        body section .report .report-intro p {
          font-size: 13px;
          margin-bottom: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        body section .report .report-intro span {
          font-size: 13px;
          color: #999; }
  body .changePage {
    padding: 22px 0 36px 0;
    display: inline-block;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    body .changePage img {
      cursor: pointer;
      margin-top: -5px;
      float: left;
      margin-right: 20px; }
    body .changePage ul {
      float: left; }
      body .changePage ul li {
        cursor: pointer;
        float: left;
        margin-right: 20px;
        width: 17px;
        height: 17px;
        border: 2px solid #000;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -moz-transform: rotate(45deg);
        /* Firefox */
        -webkit-transform: rotate(45deg);
        /* Safari and Chrome */
        -o-transform: rotate(45deg);
        /* Opera */
        position: relative; }
        body .changePage ul li div {
          font-size: 14px;
          transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          /* IE 9 */
          -moz-transform: rotate(-45deg);
          /* Firefox */
          -webkit-transform: rotate(-45deg);
          /* Safari and Chrome */
          -o-transform: rotate(-45deg);
          /* Opera */
          position: absolute;
          width: 17px;
          height: 17px;
          top: 0;
          left: 1px;
          bottom: 1px;
          right: 0;
          margin: auto;
          line-height: 17px;
          text-align: center; }
        body .changePage ul li:hover {
          background-color: #000; }
      body .changePage ul .pageOn {
        background-color: #000; }
        body .changePage ul .pageOn div {
          color: #fff !important; }

/*# sourceMappingURL=home.css.map */
